<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head') %>
  </head>
  <body>
    <%- include('../partials/nav') %>

    <div class="container mb-3">

      <div class="jumbotron">
        <h1>1주차 진행</h1>
        <P>서버 구동, 메인 페이지 작성</p>
      </div>

    </div>
  </body>
</html>
